body{
    font-size: 16px;
    background-image: url('../images/giphy.gif');
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
  }

/*HEADER*/
#header-nav{
    background-color: #8a2be2;
    border-radius: 0;
    border: 0 0 50px solid;
    border-color: #ffffff;
}

.navbar-brand h1{
    color: #ffffff;
    font-size: 1.5 em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #ffffff;
  color: #8a2be2;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #ffffff;
}

/*BODY*/
#main-content{
  font-family: 'Roboto Mono', monospace;
}
#heading{
  color: #ffffff;
}
#tagline{
  font-size: 1.5em;
  clear: both;
  margin-bottom: 75px;
}
.button{
  color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0%;
  border: 3px solid #ffffff;
  background-color: #8a2be2;
}
.button a:hover, .button a:focus{
  text-decoration: none;
}
.button:hover, .button:focus{
  background-color: #ffffff;
  text-decoration: none;
  color: #8a2be2;
}


/*FOOTER*/
.panel-footer {
  color: #ffffff;
  margin-top: 500px;
  bottom: 0;
  background-color: #8a2be2;
  border: 0 0 50px solid;
  border-color: #ffffff;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

/*Social media icons*/
.fa {
  padding-right: 20px;
  padding-bottom: 5px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}