body{
    font-size: 16px;
  }

/*HEADER*/
#header-nav{
    background-color: #8a2be2;
    border-radius: 0;
    border: 0 0 50px solid;
    border-color: #ffffff;
}

.navbar-brand h1{
    color: #ffffff;
    font-size: 1.5 em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list {
    margin-top: 10px;
}
#nav-list a {
  color: #ffffff;
  text-align: center;
}
#nav-list a:hover {
  background: #ffffff;
  color: #8a2be2;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #ffffff;
}
#nav-list .selected{
    background: #0000ff;
}

/*BODY*/
#Registration-head, #login-head{
    font-family: 'Roboto Mono', monospace;
}
.container{
  font-family: 'Roboto Mono', monospace;
  border: 2px solid #8a2be2;
  padding: 20px;
  margin-top: 20px;
}
.form-control{
    border: 1px solid #8a2be2;
}
.button{
  color: #ffffff;
  position: relative;
  padding: 20px;
  margin-top: 50px;
  border-radius: 0%;
  border: 3px solid #0000ff;
  background-color: #8a2ce2;
}
.button:hover, .button:focus{
  background-color: #ffffff;
  text-decoration: none;
  color: #8a2be2;
}
#head-container{
    font-family: 'Roboto Mono', monospace;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ffffff;
}
/*FOOTER*/
.panel-footer {
  color: #ffffff;
  margin-top: 500px;
  bottom: 0;
  background-color: #8a2be2;
  border: 0 0 50px solid;
  border-color: #ffffff;
}
.panel-footer div.row {
  margin-bottom: 35px;
}

/*Social media icons*/
.fa {
  padding-right: 20px;
  padding-bottom: 5px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}